h1 {
    color: white;
    text-align: center;
}
p {
    text-align: center;
    color: white;
}
body {
    background-color: rgb(93, 93, 224);
}

h3 {
    color: white;
}
h4 {
    color: white;
}
